<header class="header">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-2 offset-sm-10">
                <div class="d-flex flex-row-reverse">
                    <div class="nav-icons">
                        <div class="btn">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                    <div class="nav-icons">
                        <div class="btn">
                            <i class="fas fa-user"></i>
                        </div>
                    </div>
                    <div class="nav-icons">
                        <div class="btn">
                            <i class="fas fa-home"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>