<footer class="footer container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <p class="devs"> Site déveleoppé avec <i class="far fa-heart"></i> par
                    <a href="https://www.linkedin.com/in/benjamin-touboul/" target="_blank" rel="noopener noreferrer">Benjamin</a>,
                    <a href=" " target="_blank" rel="noopener noreferrer">Claire</a>,
                    <a href=" " target="_blank" rel="noopener noreferrer">Guillaume</a>,
                    <a href="https://www.linkedin.com/in/marta-kozma-9b59b674/" target="_blank"
                       rel="noopener noreferrer">Marta</a>,
                    et
                    <a href="https://www.linkedin.com/in/vlad-solnt/" target="_blank" rel="noopener noreferrer">Vladislav</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <span class="footer-bold">Dumbz</span>
                </div>
                <div>
                    <span class="footer-bold">&#169; 2020</span>
                </div>
            </div>
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <a href="#">
                        <span>Langues</span>
                    </a>
                </div>
                <div>
                    <a href="#">
                        <span>Contact</span>
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <a href="/MySpace/main/{{ session.user.id }}">
                        <span>Mon compte</span>
                    </a>
                </div>
                <div >
                    <a href="#">
                        <span>À propos</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-3 large_footer">
                <div class="row">
                    <div class="col-6 text-right">
                        <a href="#">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <i class="fab fa-meetup"></i>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-right">
                        <a href="#">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <i class="fab fa-instagram-square"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container small_footer">
        <div class="row">
            <div class="col-6 text-center">
                <a href="#">
                    <i class="fab fa-github-square"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="#">
                    <i class="fab fa-meetup"></i>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 text-center">
                <a href="#">
                    <i class="fab fa-facebook-square"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="#">
                    <i class="fab fa-instagram-square"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
