<footer class="footer container-fluid">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm text-center">
                <p class="devs"> Site déveleoppé avec <i class="far fa-heart"></i> par Benjamin, Claire, Guillaume,
                    Marta et Vladislav</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-3 text-center">
                <span class="footer-bold">Dumbz</span>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#">
                    <span>Langues</span>
                </a>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#">
                    <span>Mon compte</span>
                </a>
            </div>
            <div class="col-sm-3">
                <div class="row justify-content-sm-center no-gutters no-gutters">
                    <div>
                        <a href="#">
                            <i class="fab fa-github-square"></i>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <i class="fab fa-meetup"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-3 text-center">
                <span class="footer-bold">&#169; 2020</span>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#">
                    <span>À propos</span>
                </a>
            </div>
            <div class="col-sm-3 text-center">
                <a href="#">
                    <span>Contact</span>
                </a>
            </div>
            <div class="col-sm-3">
                <div class="row justify-content-sm-center no-gutters">
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram-square"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
