<footer class="footer container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-center">
                <p class="devs"> Site développé avec <i class="far fa-heart"></i> par
                    <a href="https://www.linkedin.com/in/benjamin-touboul/" target="_blank" rel="noopener noreferrer">Benjamin</a>,
                    <a href=" " target="_blank" rel="noopener noreferrer">Claire</a>,
                    <a href=" " target="_blank" rel="noopener noreferrer">Guillaume</a>,
                    <a href="https://www.linkedin.com/in/marta-kozma-9b59b674/" target="_blank"
                       rel="noopener noreferrer">Marta</a>,
                    et
                    <a href="https://www.linkedin.com/in/vlad-solnt/" target="_blank" rel="noopener noreferrer">Vladislav</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <span class="footer-bold">Dumbz</span>
                </div>
                <div>
                    <span class="footer-bold">&#169; 2020</span>
                </div>
            </div>
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <a href="https://www.wildcodeschool.com/fr-FR/campus/bordeaux" target="_blank">
                        <span class="contact">
                            Wild Code School Bordeaux </br>
                            9, allée Serr </br>
                            33000 Bordeaux
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-4 col-sm-3 text-center">
                <div>
                    <a href="/MySpace/main/{{ session.user.id }}">
                        <span>Mon compte</span>
                    </a>
                </div>
                <div>
                    <a class="nav-link" data-toggle="modal" data-target="#registration" >
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>Inscrivez-vous</span>
                    </a>

                    </a>
                </div>
            </div>
            <div class="col-sm-3 large_footer">
                <div class="row">
                    <div class="col-6 text-right">
                        <a href="https://github.com/WildCodeSchool" target="_blank">
                            <i class="fab fa-github-square fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.meetup.com/fr-FR/WildCodeSchool_Bordeaux/" target="_blank">
                            <i class="fab fa-meetup fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-6 text-right">
                        <a href="https://fr-fr.facebook.com/WildCodeSchool/" target="_blank">
                            <i class="fab fa-facebook-square fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr" target="_blank">
                            <i class="fab fa-instagram-square fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container small_footer">
        <div class="row">
            <div class="col-6 text-center">
                <a href="https://github.com/WildCodeSchool" target="_blank">
                    <i class="fab fa-github-square fa-2x"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="https://www.meetup.com/fr-FR/WildCodeSchool_Bordeaux/" target="_blank">
                    <i class="fab fa-meetup fa-2x"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="https://fr-fr.facebook.com/WildCodeSchool/" target="_blank">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
            </div>
            <div class="col-6 text-center">
                <a href="https://www.instagram.com/wildcodeschoolofficial/?hl=fr" target="_blank">
                    <i class="fab fa-instagram-square fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
