<header class="header-index">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-sm-2 offset-sm-10">
                <div class="d-flex flex-row-reverse">
                    <div class="nav-icons">
                        <div class="btn">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                    <div class="nav-icons">
                        {% if (session.user) %}
                            <div class="btn" id="UserAndLogoutDropDown" data-toggle="dropdown">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="dropdown-menu" aria-labelledby="UserAndLogoutDropDown">
                                {% if session.user.admin == 1 %}
                                    <a class="dropdown-item" href="/MySpace/adminAccess">Admin</a>
                                {% endif %}
                                <a class="dropdown-item" href="/MySpace/main/{{ session.user.id }}">Mon Compte</a>
                                <a class="dropdown-item" href="/MySpace/logout/'">Se déconnecter</a>
                            </div>
                        {% else %}
                            <div class="btn" data-toggle="modal" data-target="#login">
                                <i class="fas fa-user"></i>
                            </div>
                            <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginTitle"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    {% include '/Home/_login.html.twig'%}

                                </div>
                            </div>

                            <div class="modal fade" id="registration" tabindex="-1" role="dialog"
                                 aria-labelledby="registrationTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">

                                {% include '/Home/_register.html.twig' %}

                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="nav-icons">
                        <div class="btn">
                            <a href="/" class="home-icon"> <i class="fas fa-home"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2 offset-2 ">
        <a href="/">
            <div class="animated-logo"></div>
        </a>
    </div>
    <div class="container-fluid research-container">
        <div class="row research-block">
            <div class="col-8 offset-2 col-md-6 offset-md-3">
                <div>
                    <form action="/" method="post" class="loupeandbarre">
                        <label for="cheat-search"></label>
                        <input type="search" class="search-bar" id="cheat-search" name="cheat-search" placeholder="Entrez votre recherche">
                        <button class="btn button-loupe"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                {% if search_without_result %}
                    Aucun résultat ne correspond à votre recherche, veuillez réessayez un autre mot clé.
                {% endif %}
            </div>
        </div>
    </div>
    <hr>
</header>