<div class="container-fluid">
    <div class="row">
        <div class="burger-menu" id="burger">
            &#9776;
        </div>
        <nav id="menu-burger" class="display-block-nav">

            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <div class="accordion accordion-nav" id="accordionExample">
                        <li class="nav-item text-nav-langage">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            Langages
                            </a>
                        </li>

                        <ul>
                            <a href="/"> <li> Tout les langages </li></a>
                            {% for language in languages|slice(0, 5) %}

                                <a href="/language/language/{{ language.id }}">
                                    <li>{{ language.name }}</li>
                                </a>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="accordion accordion-nav" id="accordionExample">
                        <li class="nav-item text-nav">
                            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                               data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">
                                <i class="fa fa-book" aria-hidden="true"></i>
                                Autres langages
                            </a>
                        </li>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body language-main-list">
                                <ul>
                                    {% for language in languages|slice(5, 10000) %}
                                        <a href="/language/language/{{ language.id }}">
                                            <li>{{ language.name }}</li>
                                        </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <li class="nav-item text-nav">
                        <a class="nav-link" data-toggle="modal" data-target="#login">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Inscrivez vous
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </div>
</div>