{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block sidebar">
            <form action="" method="">
                <button class="navsearch" type="submit"><i class="fa fa-search"></i></button>
            <input class="form-control form-control-dark" type="text" placeholder="Search" aria-label="Search">

            </form>
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">

                            Dashboard
                        </a>
                    </li>
                    <div class="accordion" id="accordionExample">
                        <li class="nav-item">
                            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">
                                <span data-feather="file"></span>
                                Languages
                            </a>
                        </li>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                    <ul>
                                    {% for language in languages %}
                                    <a href="{{ language.identifier }}"><li>{{ language.name }}</li></a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
{% endblock %}

