{% extends 'layout.html.twig' %}

{% block content %}




<div class="container-fluid">
    <div class="row research-block">
        <div class="col-sm-6 offset-3">
            <form action="" method="get">
                <label for="cheat-search"></label>
                <input type="search" id="cheat-search" name="cheat-search" placeholder="-">
             </form>
        </div>
            <button class="btn"><i class="fas fa-search"></i></button>
    </div>
</div>
<hr>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 result-title">
            Les plus populaires
        </div>
        <div class="col-sm-1 result-title">
            <span id="plus-most-popular">+</span>
        </div>

    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-sm-center">

        {% set tableToUse = all_posts_by_pop %}

        {% include '/Item/postmodel.html.twig' %}

    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 result-title">
            Les derniers
        </div>
        <div class="col-sm-1 result-title">
            <span id="plus-most-popular">+</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-sm-center">
        {% set tableToUse = all_posts_by_date %}
        {% include '/Item/postmodel.html.twig' %}
    </div>
</div>


{% endblock %}

