{% extends 'layout.html.twig' %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="burger-menu" id="burger">
            &#9776;
        </div>
        <nav id="menu-burger" class="display-block">

            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">

                            Dashboard
                        </a>
                    </li>
                    <div class="accordion" id="accordionExample">

                        <li class="nav-item">
                            <i class="fas fa-globe"></i>
                            <a class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" href="#">

                                Langages
                            </a>
                        </li>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                    <ul>
                                    {% for language in languages %}
                                    <a href="{{ language.identifier }}"><li>{{ language.name }}</li></a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="shopping-cart"></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>
                            Customers
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
    sgfgsdsqdsqdsqdsqd <i class="fas fa-globe"></i>
{% endblock %}

