{% extends 'layout.html.twig' %}
{% block title %}Page d'Admin{% endblock %}

{% block content %}
<h1>Bienvenue sur ta page d'admin, {{ session.user.name }} !</h1>
    <div>
        But it looks empty...
        <img src="https://media.giphy.com/media/xjlor05QpgWD54rayU/giphy.gif" alt="gify"/>

    </div>
{% endblock %}