{% extends 'layout.html.twig' %}
{% block title %}Page d'Admin{% endblock %}

{% block content %}
    <div class="welcome-text text-center font-weight-bold font-italic">
        Bienvenue sur ta page d'admin, {{ session.user.name }}!<br>
    </div>
    <hr>
    {% if successMessage is defined %}
        {{ successMessage }}
    {% endif %}
    {% include 'MySpace/_addLanguageFormAdmin.html.twig' %}
    <br>

    <br>
    <br>

    <img src="https://media.giphy.com/media/S9oecmLUi26zYzrTZt/giphy.gif" class="admin-gif" alt="funnies2" width="300" height="200">

{% endblock %}