{% extends 'layout.html.twig' %}

{% block title %}Mon espace Dumbz{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/stylemypage.css">{% endblock %}
{% block content %}
{% include 'Item/_nav.html.twig' %}

<div class="welcome-text text-center font-weight-bold font-italic">
    Bonjour {{ user.name }},<br>heureux de te retrouver !
</div>
<hr>

    <div class="container-fluid">
        <div class="row">
            <div class="col align-self-center">
                {% include '/Item/_addPostForm.html.twig' %}
            </div>
        </div>
    </div>
    <div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 title">
            Mes favoris
        </div>
        <div class="col-sm-1 title">
            <span class="font-weight-bold" id="plus-my-favoris">+</span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-sm-center">
        {% set tableToUse = favorites %}
        {% include '/Item/postmodel.html.twig' %}
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 title">
            Mes fiches
        </div>
        <div class="col-sm-1 title">
            <span class="font-weight-bold" id="font-weight-bold plus-my-posts">+</span>
        </div>
    </div>
</div>
    <div class="container-fluid">
        <div class="row justify-content-sm-center">
            {% set tableToUse = myposts %}
            {% include '/Item/postmodel.html.twig' %}
        </div>
    </div>
{% endblock %}