{% extends 'layout.html.twig' %}
{% block title %}Mon espace{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/stylemypage.css">{% endblock %}
{% block content %}
    {% set startype = "fas fa-star" %}
    {% if session.user.id == user.id %}
    <div class="welcome-text text-center font-weight-bold font-italic">
        Bonjour {{ user.name }},<br>heureux de te retrouver !
    </div>
        <hr>
        <div class="add-post-container">
            {% include '/Home/_addPostForm.html.twig' %}
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 result-title">
                    Mes favoris
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-center">
                {% set tableToUse = favorites %}
                {% include '/Home/postmodel.html.twig' %}
            </div>
            <div class="row justify-content-center collapse" id="all-post-by-pop">
                {% set tableToUse = favorites %}
                {% include '/Home/postmodel_pop_collapse.html.twig' %}
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-6 result-title">
                    Mes fiches
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row justify-content-sm-center">
                {% set tableToUse = myposts %}
                {% include '/Home/postmodel.html.twig' %}
            </div>
            <div class="row justify-content-center collapse" id="all-post-by-date">
                {% set tableToUse = myposts %}
                {% include '/Home/postmodel_recent_collapse.html.twig' %}
            </div>
        </div>
    {% else %}
        <p>
        <div class="welcome-text text-center font-weight-bold font-italic">
            Ca arrive à tous de se perdre... N'hésitez pas à revenir sur la page d'accueil pour profiter de notre site.
        </div></p>
    {% endif %}
{% endblock %}