.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal-body {
    background-color: var(--body-color);
}

.modal.left .modal-body {
    padding: 75px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: var(--secondary-color);
    color: white;
}

.modal-nav {
    background-color: var(--body-color);

}
.modal-header h4 {
    font-size: 2em;
}
.modal-header .close {
    padding-top: 28px;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem var(--link-color);
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}

.btn-link:hover, .btn:hover {
    color: var(--link-color);
    text-decoration: none;
}
.nav-link{
    cursor: pointer;
}
.text-nav {
    color: var(--link-color);

}

.text-nav-langage {
    margin-left: 15px;
    color: black;
    font-size: 22px;
}
.text-nav-langage i {
    color: black;
}
.accordion-nav ul {
    list-style-type: none;
}

.text-nav a, .text-nav-langage a {
    color: var(--primary-color);
    border-radius: 50px;
    font-size: 22px;
}

.text-nav a:hover {
    background-color: black;
    color: white;
}

.accordion-nav ul a li {
    color: var(--primary-color);
    font-size: 18px;
}

.accordion-nav ul a:hover {
    text-decoration: none;
}

.card-body .text-nav li {
    color: var(--link-color);
}

.language-main-list ul {
    margin-left: -20px;
}

.sidebar-nav {
    display: block;
}

