@import url("https://use.fontawesome.com/releases/v5.15.1/css/all.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/@coreui/icons/css/all.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.3.2/styles/default.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import "stylenav.css";
@import "stylemypage.css";
@import "bootstrap-overridden.css";
@import "../images/favicon.png";

/* Variable */
:root {
    --primary-color: #141b15;
    --secondary-color: lightslategrey;
    --link-color: white;
    --logo-image-1: url('/assets/images/logo1.svg');
    --logo-image-2: url('/assets/images/logo2.svg');
    --logo-image-3: url('/assets/images/logo3.svg');
    --logo-image-4: url('/assets/images/logo4.svg');
    --logo-image-5: url('/assets/images/logo5.svg');
    --logo-image-6: url('/assets/images/logo6.svg');

}

body {
    background-color: #FDFFF3;
}

/* Header */

.header-index{
    background-image: url('/assets/images/main-picture.png');
    background-size: cover;
    height: 40vh;
    padding: 20px 0;
}

.header {
    background-image: url('/assets/images/main-picture.png');
    background-size: cover;
    height: 10vh;
    padding: 20px 0;
}

.home-icon {
    color: inherit;
}

.header-icons {
    margin-right: 15px;

}

/* Main page content */

.loupeandbarre{
    display: flex;
}
.button-loupe:hover {
    color: black;
}

.underline {
    text-decoration: underline;
}

#cheat-search {
    /* border-top: none; */
    /* border-right: none; */
    /*  border-left: none; */
    width: 100%;
}

.result-title {
    border-bottom: solid 2px black;
    margin: 30px 0;
    width: 100%;
}

/* footer */

.footer {
    background-color: var(--secondary-color);
    padding: 5px 0;
    margin-top: 50px;
}

.footer-bold {
    color: white;
    font-weight: bold;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.devs{
    color:white;
}

.name-devs {
    font-size: 13px;

}

.fa-github-square {
    margin-right: 25px;
}

.fa-meetup {
    margin-left: 25px;
}

.fa-facebook-square {
    margin-right: 25px;
}

.fa-instagram-square {
    margin-left: 25px;
}

.animated-logo {
    height: 50px;
    width:170px;
    position: absolute;
    top:-40px;
    right: 100px;
    animation-name: logo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-color: white;
    border: 1px solid white;
    border-radius: 25px;
}

@keyframes logo {
    0% {
        background-image: var(--logo-image-1);
    }
    10% {
        background-image: var(--logo-image-1);
    }
    11% {
        background-image: var(--logo-image-2);
    }
    21% {
        background-image: var(--logo-image-2);
    }
    22% {
        background-image: var(--logo-image-3);
    }
    32% {
        background-image: var(--logo-image-3);
    }
    33% {
        background-image: var(--logo-image-4);
    }
    43% {
        background-image: var(--logo-image-4);
    }
    44% {
        background-image: var(--logo-image-5);
    }
    54% {
        background-image: var(--logo-image-5);
    }
    55% {
        background-image: var(--logo-image-6);
    }
    65% {
        background-image: var(--logo-image-6);
    }
    66% {
        background-image: var(--logo-image-1);
    }
    70% {
        background-image: var(--logo-image-1);
    }
    71% {
        background-image: var(--logo-image-2);
    }
    76% {
        background-image: var(--logo-image-2);
    }
    77% {
        background-image: var(--logo-image-3);
    }
    82% {
        background-image: var(--logo-image-3);
    }
    83% {
        background-image: var(--logo-image-4);
    }
    89% {
        background-image: var(--logo-image-4);
    }
    90% {
        background-image: var(--logo-image-5);
    }
    95% {
        background-image: var(--logo-image-5);
    }
    96% {
        background-image: var(--logo-image-6);
    }
    100% {
        background-image: var(--logo-image-6);
    }

}


.post-content-short  {
    height: 50px;
    width: 245px;
    overflow: hidden;
}
.search-bar {
    margin: 80px 2px 44px 100px;
    height: 3rem;
    border-radius: 30px;
    padding-left: 20px;
}
/* Post and modal */

.post-index{
    cursor: pointer;
    z-index: 0;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    transition: box-shadow 0.2s ease,
    transform 0.2s ease,
    z-index 0s 0.2s ease;
}
.post-index:hover {
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transform: scale(1.05);
    box-shadow: 2px 0px 11px 4px #727272;
}
.m-1 {
    margin: .50rem!important;
}
.card-header {
    background-color: white;
    margin-bottom: 10px;
}
.d-flex {
    justify-content: center;
}
.post-content-short {
    width: 234px;
}
.button-loupe {
    margin-top: 33px;
}
.nav-icons .fas {
    font-size: 24px;
}
.home-icon a:hover{
    color: white;
}


.border {
    border: 2px solid #dee2e6!important;
}

.icons-post {
    border-radius: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.icon-like {
    border: solid 3px #3BA745;
    width: 2em;
    height: 2em;
}

.icon-dislike {
    border: solid 3px #DC3945;
    width: 2em;
    height: 2em;
}

.icon-language {
    width: 3.2em;
    height: 3.2em;
}

.popularity {
    border-radius: 500px;
    width: 3em;
    height: 3em;
    line-height: 2.8em;
}

.btn-comment {
    margin-bottom: 29px;
}

/* search bar */
input:focus {
    outline: none;
}
.fa-user, .fa-home, .fa-globe {
    color: white;
}




.comment-accordion{
    display: inline-block;
    margin: 20px 150px 10px 0px;

}

.btn-comment-toggle {
    background-color: lightslategrey;
    text-align: center;
    border-radius: 20px;
    width: 200px;
    color: white;
}

.btn-comment-toggle:hover{
    color:black;
}


.ul-comment {
    padding-left: 0;
}

.li-comment {
    list-style-type: none;
    width: 400px;
}

input:focus {
    outline: none;
}
/* test bubble comment */
.bubble{
// layout
position: relative;
    max-width: 30em;


    background-color: white;
    margin: 1.2em;
    padding: 1.125em 1.5em;
    font-size: 1.25em;

    border-radius: 1rem;
    box-shadow:	0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
}

.bubble::before {
// layout
content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em; // offset should move with padding of parent
border: .75rem solid transparent;
    border-top: none;

// looks
border-bottom-color: white;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}


p.bubble {
       font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
       line-height: 1.5;
       font-weight: 300;
       color: white;
        font-size: 1em;
        background-color: lightslategrey;
        border-top-left-radius: 0;
       /*background: linear-gradient(135deg, #F4F2F3, #BFC6D0);*/
   }

/*html, body {
    height: 100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

body {
    padding: 0 2rem;
}

/* end test */
.btn-secondary{
    background-color: lightslategrey;
    color: white;
    border-color:lightslategrey;
}

.btn-secondary:hover{
    background-color: lightslategrey;
    color:black;
    border-color:lightslategrey;

}


@media screen and (max-width: 768px) {

    .animated-logo {
        right: -85px;
    }
}




