.display-block-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 15px 0 0;
    background-color: var(--primary-color);
    padding-top: 15%;
}

.sidebar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: var(--primary-color);
    padding-top: 15%;

}

.burger-menu {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    color: var(--link-color);
    z-index: 1000;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem var(--link-color);
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}

.btn-link:hover, .btn:hover {
    color: var(--link-color);
    text-decoration: none;
}
.nav-link{
    cursor: pointer;
}
.text-nav {
    color: var(--link-color);

}

.text-nav-langage {
    margin-left: 15px;
    color: var(--link-color);
}

.text-nav a, .text-nav-langage a {
    color: var(--link-color);
    border-radius: 50px;
}

.text-nav a:hover {
    background-color: #083C5A;
}

.accordion-nav ul a li {
    color: var(--link-color);
}

.accordion-nav ul a:hover {
    text-decoration: none;
}

.card-body .text-nav li {
    color: var(--link-color);
}

.language-main-list ul {
    margin-left: -20px;
}

.sidebar-nav {
    display: block;
}

@media screen and (min-width: 769px) {
    .burger-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .searchlang {
        display: none;
    }

    .burger-menu {
        color: black;
    }

    .burger-menu-white {
        color: var(--link-color);
    }

    .display-block-nav {
        display: none;
        width: 21%;
    }

    .sidebar-nav {
        width: 21%;
    }
}
