.display-block {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #141b15;
    width: 11%;
    padding-top: 15%;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    background-color: #141b15;
    width: 11%;
    padding-top: 15%;
}
.burger-menu {
    position: absolute;
    cursor: pointer;
    font-size: 30px;
    color: white;
    z-index: 1000;
}
.container-fluid, input {
    margin-left: 10px;
}
.container-fluid a {
    border-radius: 50px;
}
.container-fluid a:hover {
    background-color: #083C5A;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.0rem white;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}
.btn-link:hover, .btn:hover {
    color: white;
    text-decoration: none;
}
.nav li a {
    color: white;
}
.card-body li{
    color: white;
}
.card-body ul {
    margin-left: -20px;
}
.form-control {
    width: 75%;
}
.navsearch {
    float: right;
    border-radius: 20px;
    width: 40px;
    height: 38px;
    margin-right: 7px;
}
form.example button:hover {
    background: black;
}
.sidebar {
    display: block;
}

@media screen and (min-width: 769px){
    .burger-menu {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navsearch{
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .searchlang {
        display: none;
    }
    .burger-menu {
        color: black;
    }
    .burger-menu-white {
        color: white;
    }
    .navsearch{
        display: none;
    }
    .display-block {
        display: none;
    }
    .sidebar {
        width: 21%;
    }
    .display-block {
        width: 21%;
    }

}
@media screen and (min-width: 992px) and (max-width: 1128px){
    .navsearch{
        margin-right: 0;
    }
}